adbc_driver_manager==1.8.0
adbc_driver_postgresql==1.8.0
adbc_driver_sqlite==1.8.0
aiohttp==3.13.2
AppKit==0.2.8
attr==0.3.2
boto3==1.40.63
botocore==1.40.63
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
cffi==2.0.0
chardet==5.2.0
checks==0.2
click==8.3.0
ConfigParser==7.2.0
contextlib2==21.6.0
cycler==0.12.1
Cython==3.1.6
docutils==0.22.2
fastparquet==2024.11.0
filelock==3.20.0
Foundation==0.1.0a0.dev1
fsspec==2025.10.0
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
huggingface_hub==1.0.1
hypothesis==6.142.4
importlib_resources==6.5.2
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
JPype1==1.6.0
js==1.0
keyring==25.6.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.7
mock==5.2.0
mtrand==0.1
multidict==6.7.0
mypy==1.18.2
numexpr==2.14.1
odfpy==1.4.1
openpyxl==3.1.5
protobuf==6.33.0
psutil==7.1.2
PyInstaller==6.16.0
pyodide==0.0.2
pyOpenSSL==25.3.0
PyQt4==4.11.4
PyQt5==5.15.11
pyspark==3.5.3
pytest==8.4.2
python_bcrypt==0.3.2
python_calamine==0.5.4
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
redis==7.0.1
s3fs==2025.10.0
scikit_learn==1.7.2
scipy==1.16.3
scipy_doctest==2.0.1
sets==0.3.2
setuptools==80.9.0
setuptools_scm==9.2.2
simplejson==3.20.2
slack_sdk==3.37.0
Sphinx==8.2.3
SQLAlchemy==2.0.44
tables==3.10.2
thread==2.0.5
threadpoolctl==3.6.0
traitlets==5.14.3
trio==0.31.0
urllib3_secure_extra==0.1.0
wcwidth==0.2.14
xarray==2025.10.1
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
yarl==1.22.0
zstandard==0.25.0
